.mainList{
    display: flex;
    flex-direction: column;
    border: 10px solid #38015c ;
    background-color:  #38015c;
    border-radius: 20px;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    
 
    
}

.list{
    color: white;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
   
    font-size: larger;
    font-weight: 500;
    display: flex;
    border-bottom: 2px dashed white;
    

    
   
  
}
.subList1{
    background-color: #9f5ccc;
    border: none;
    
    margin-right: 30px;
    color: white;
    font-size: 16px;
    font-weight: 550;
    border-radius: 5px;
   
    
    padding: 10px;
    
}

.subList{
    color: white;
    flex: 0.5;
   
    
    
   

};

